.basket__container{
  margin: 0 auto;
  display: flex;
  padding: 1%;
  gap: 1%;
}
.basket-items {

}
.basket-item {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  gap: 1%;

}


.basket-item__num {
font-weight: 700;
  padding-top: 2%;
}
.basket-item__image {
  flex: 0 0 200px;

  @media (max-width: 800px) {
    flex: 0 0 100px;
  }
}
.basket-item__img {
  max-width: 100%;
  border: 1px solid $but;
  border-radius: 2%;
}
.basket__about {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
}
.basket-item__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1%;
}
.basket-item__desc {
  flex: 2;

}
.basket-item__rating {
  font-weight: 700;
}
.basket-item__percent {
  font-weight: 700;
}

.basket-item__sale {
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.basket-item__stock {
  font-weight: 700;
}
.basket-item__number {
  display: flex;
  font-weight: 700;
  gap: 5%;
  justify-content: space-between;
align-items: center;
}
.basket-item__plus,
.basket-item__minus {
  border-radius: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transition: all 0.7s;
  &:hover,
  &:active {
    background-color: $but-hov;
  }
}
.basket-item__count {
}
.basket-item__minus {
}
.basket-item__price {
}


@media (max-width: 700px) {
  .basket__container {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .basket__summary {
    order: 1;
  }
.basket-items {
      order: 2;
}
  .basket-item {
    width: 95%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .basket-item__img {
    max-width: 90%;
  }

  }
  .basket__summary {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .summary {
    display: flex;
    padding: 5%;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    font-weight: 700;
    font-size: 1rem;
    border: 2px dotted $but-hov;
    border-radius: 5%;
    background-color: #FFE4B5;
  }
  .summary__title {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .summary__products {
    margin-bottom: 5px;
  }
  .summary__price {
    margin-bottom: 10px;
  }
  .summary__input {
    margin-bottom: 10px;
    max-width: 95%;
    outline: none;
    height: 30px;
  }
  .summary__promo {
  }
  .button {
    width: 85px;
    height: 35px;
    border-radius: 15px;
    &:active,
    &:hover {
      background-color: $but-hov;
    }
  }
  .summary__button {
  }

  .summary__sh {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    border: 2px dotted $but-hov;
    border-radius: 5%;
    margin-bottom: 5px;
    width: 95%;
    padding: 2%;

  }
  .summary__sh-promo {
  }
  .button-sh {
    width: 60px;
    cursor: pointer;
  }
  .summary__win {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    border: 2px dotted $but-hov;
    border-radius: 5%;
    margin-bottom: 5px;
    width: 95%;
    padding: 2%;
  }
  .summary__win-promo {
  }
  .button-win {
        width: 60px;
        cursor: pointer;
  }

  .hidden {
    opacity: 0;
    visibility: 0;
    }
  .visible {
  opacity: 1;
    visibility: visible;
  }
.add {
  background-color: $but-hov;
}
