.main {
  margin: 0 auto;
  &__container {
    display: flex;
  padding: 1%;
  }
  &__filters {
    flex: 1;
    margin-right: 1%;

  }
  &__items{
    flex: 2;
    display:flex;
    justify-content: space-around;
    color: white;
    flex-direction: column;
  }
}
.items {

  &__sorts {

  }
  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
}
.row {
  flex-direction: row;
}
.column {
      flex-direction: column;
}
.card{
  display: flex;
  &__image {
    width: 100px;

  }
    &__img {
      max-width: 100%;

  }
}

.button {
  width: 70px;
  height: 40px;
  &__row {

  }
}
