body {
  font-family: 'Montserrat';
  background-color: $back;
  color: $text;

}

.image {
  width: 300px;
  height: 500px;
  background-size: cover;
}
.background {
    font-size: 35px;
    width: 200px;
    height: 200px;
}
.icon {
    width: 50px;
    height: 50xp;
}

