@import 'libs/normalize';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';
@import 'style/header';
@import 'style/main';
@import 'style/product';

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.block {
  display:block;
}
.flex {
  display:flex;
  justify-content:space-between;
  gap: 1%;
}

